@page
@model Identity.Pages.UserModel
@{
}

<h2 class="text-center">Welcome to your account</h2>

<div>
    First Name: @Model.appUser?.FirstName
</div>
<div>
    First Name: @Model.appUser?.LastName
</div>
<div>
    First Name: @Model.appUser?.Email
</div>
<div>
    First Name: @Model.appUser?.PhoneNumber
</div>
<div>
    First Name: @Model.appUser?.Address
</div>
<div>
    First Name: @Model.appUser?.CreatedAt.ToString("dd/MMMM/yyyy");
</div>